@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Sora", sans-serif;
  background: #12171d;
  color: #f7e8de;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  background: -webkit-linear-gradient(
    45deg,
    rgba(251, 209, 233, 1) 9%,
    rgba(186, 206, 243, 1) 51%,
    rgba(255, 223, 183, 1) 94%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  text-decoration: none;
  color: rgba(251, 209, 233, 1);
  /* position: relative; */
}

input[type="search"] {
  border: 1px solid gray;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg)
    no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: 0.5;
  pointer-events: all;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* sidenavbar */
.navbar-container {
  display: flex;
  padding: 0rem;
  /* background-color: #101418; */
  background-color: #0a1016;
  color: rgba(186, 206, 243, 1);
  width: 20%;
  position: fixed;
  left: 0;
  top: 0;
  /* padding-top: 2rem; */
  height: 100vh;
  justify-content: space-evenly;
}

.navbarlinks {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  line-height: 3rem;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top: -2rem;
  text-align: left;
}

.navuser {
  position: absolute;
  bottom: 0;
  text-align: left;
  /* margin-bottom: 1rem; */
  /* background: #3a3c40; */
  width: 65%;
  padding: 1.2rem 0rem 2rem 4rem;
  margin-left: -22%;
  border-top: 1px dotted #3a3c40;
}

.navuser-name {
  font-weight: 600;
}

.navuser-info {
  font-size: 0.65rem;
  font-weight: normal;
  letter-spacing: 0.03rem;
}

.navbar-logo {
  background: -webkit-linear-gradient(
    45deg,
    rgba(251, 209, 233, 1) 9%,
    rgba(186, 206, 243, 1) 51%,
    rgba(255, 223, 183, 1) 94%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  margin-top: 3rem;
  width: 100%;
}

/* for logging new food page */
.page-container {
  display: flex;
  position: relative;
  /* flex-grow: 1; */
  /* flex-flow: row wrap; */
  justify-content: space-evenly;
  padding: 0rem;
  margin-top: 2rem;
  list-style: none;
  gap: 3rem 0rem;
  width: 80%;
  margin-left: 20%;
  /* height: 100vh; */
}

.section-half {
  /* display: flex; */
  position: relative;
  width: 50%;
  /* margin: 1rem 3rem; */
}

.section-half-right {
  /* display: flex; */
  position: static;
  width: 50%;
  margin-left: -3%;
  /* margin: 1rem 3rem; */
}

/* search input */
input.search {
  background: #3a3c40;
  display: inline-block;
  padding: 1em 2em 1em 1em;
  margin: 1rem 1.5rem 1rem 3rem;
  width: 85%;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  transition: all 0.15s;
  border-radius: 0.4rem;
  color: #f7e8de;
}

/* result card */
.result-card {
  border-radius: 0.5rem;
  background-color: #0a1016;
  max-width: 100%;
  /* height: 30px; */
  padding: 1em 1.5em 1em 1.5em;
  margin: 1rem 1.5rem 1rem 3rem;
  justify-content: space-around;
  display: flex;
  align-items: center;
  text-align: left;
}

.result-card:hover {
  /* border: 1px solid #D9CFC1; */
  background: linear-gradient(
    45deg,
    rgba(251, 209, 233, 1) 9%,
    rgba(186, 206, 243, 1) 51%,
    rgba(255, 223, 183, 1) 94%
  );
  color: #101418;
  cursor: pointer;
  transform: scale(104%);
  transition: ease-in-out 0.15s;
}

.result-content {
  grid-template-columns: 2fr 1fr;
  display: inline-grid;
  align-items: center;
  /* margin: 0 0 0 5em; */
  /* justify-content:space-evenly; */
  flex-grow: 1;
  /* background-color: lavender; */
}

.result-content-kcal {
  text-align: right;
}

/* serving size input */
input.servingSize {
  background-color: #26292d;
  color: #f7e8de;
  display: inline-block;
  padding: 0.8em;
  width: 8rem;
  font-size: 0.75rem;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  border-radius: 0.3rem;
  transition: all 0.15s;
  /* text-align: right; */
}

input.dateSelect {
  background: #26292d;
  color: #f7e8de;
  display: inline-block;
  padding: 0.8em;
  width: 8rem;
  font-size: 0.75rem;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  /* letter-spacing: 0.1rem; */
  /* border: 1px solid tomato; */
  border-radius: 0.3rem;
  transition: all 0.15s;
}

select.mealType {
  background: #26292d;
  color: #f7e8de;
  display: inline-block;
  padding: 0.8em;
  width: 8rem;
  font-size: 0.75rem;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  /* border: 1px solid tomato; */
  border-radius: 0.3rem;
  transition: all 0.15s;
  /* text-align: right; */
}

.detailContain {
  background-color: #0a1016;
  border-radius: 1rem;
  /* max-width: 100%;
  min-height: 100%; */
  padding: 0.4rem 2rem 2rem 2rem;
  margin: 1rem 3rem;
  /* display: flex;
  align-items: center; */
}

.logDetail {
  max-width: 100%;
  min-height: 100%;
  padding: 0.7rem 0rem;
  justify-content: space-around;
  display: flex;
  align-items: center;
  text-align: left;
}

.borderbottom {
  border-bottom: 0.1em solid #1c1e21;
}

.logDetail-right {
  text-align: right;
}

label.serving {
  font-size: 0.8rem;
  color: rgba(251, 209, 233, 1);
}

label.mealtype {
  font-size: 0.8rem;
  color: rgba(186, 206, 243, 1);
}

label.date {
  font-size: 0.8rem;
  color: rgba(255, 223, 183, 1);
}

button.addToLog {
  display: inline-block;
  padding: 1em;
  margin-top: 1rem;
  width: 15rem;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Sora", sans-serif;
  letter-spacing: 0.07rem;
  font-weight: 500;
  color: #f7e8de;
  background: none;
  border: 2px solid rgba(186, 206, 243, 1);
  border-radius: 0.4rem;
  transition: all 0.15s;
}

button.addToLog:hover {
  color: #0a1016;
  background: linear-gradient(
    45deg,
    rgba(251, 209, 233, 1) 9%,
    rgba(186, 206, 243, 1) 51%,
    rgba(255, 223, 183, 1) 94%
  );
  transition: all 0.15s;
  cursor: pointer;
}

button.logout {
  display: inline-block;
  padding: 0.5em 2em;
  font-size: 0.5rem;
  margin-top: 0.5rem;
  /* width: 15rem; */
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Sora", sans-serif;
  letter-spacing: 0.05rem;
  font-weight: 500;
  color: #f7e8de;
  background: none;
  border: 1px solid rgba(186, 206, 243, 1);
  border-radius: 2rem;
  transition: all 0.15s;
}

button.logout:hover {
  color: #0a1016;
  background: linear-gradient(
    45deg,
    rgba(251, 209, 233, 1) 9%,
    rgba(186, 206, 243, 1) 51%,
    rgba(255, 223, 183, 1) 94%
  );
  transition: all 0.15s;
  cursor: pointer;
}
